<h1>My events</h1>
oauth_token:<%= @oauth_token %>
</br>
email: <%= @email %>
</br>
token: <%= @user.token %>
</br>
Calendar url: <%= calendar_feed_url(token: @user.token) %>
</br>
event_count: <%= pp @events %>
